body{

}

h1{
    text-align: center;
}

aside{
   max-width: 600px;
    height: 100vh;
}

aside h3{
    text-align: center;
}

#cartas table, td, tr{
   /* border: 1px solid black;*/
    padding-left: 10px;
    padding: 20px;
}

img{
    margin: auto;
    height: 120px;
}

p{
   text-align: center;
}
